@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

html,
body {
  @apply bg-white;
}

main {
  @apply pt-10 min-h-screen;
}

h1 {
  @apply font-semibold text-gradient max-sm:text-[3rem] text-6xl leading-tight xl:tracking-[-2px];
}

h2 {
  @apply text-dark-200 max-sm:text-xl text-3xl;
}

label {
  @apply text-dark-200;
}

input {
  @apply inset-shadow bg-white p-4 rounded-2xl focus:outline-none w-full;
}

textarea {
  @apply inset-shadow bg-white p-4 rounded-2xl focus:outline-none w-full;
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5] text-transparent;
  }

  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
  }

  .primary-button {
    @apply px-4 py-2 rounded-full w-full text-white cursor-pointer primary-gradient;
  }

  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-gray-200 border-b;
  }

  .resume-summary {
    @apply flex flex-row justify-center items-center gap-4 p-4;

    .category {
      @apply flex flex-row justify-between items-center gap-2 bg-gray-50 p-4 rounded-2xl w-full;
    }
  }

  .back-button {
    @apply flex flex-row items-center gap-2 shadow-sm p-2 border border-gray-200 rounded-lg;
  }

  .auth-button {
    @apply px-8 py-4 rounded-full w-[600px] max-md:w-full font-semibold text-white text-3xl cursor-pointer primary-gradient;
  }

  .main-section {
    @apply flex flex-col items-center gap-8 mx-15 max-sm:mx-2 pt-12 pb-5;
  }

  .page-heading {
    @apply flex flex-col items-center gap-8 max-sm:gap-4 max-w-4xl text-center;
  }

  .resumes-section {
    @apply flex max-md:flex-col flex-wrap justify-evenly items-start max-md:items-center gap-6 max-md:gap-4 w-full max-w-[1850px];
  }

  .resume-card {
    @apply flex flex-col gap-8 bg-white p-4 rounded-2xl w-[350px] lg:w-[430px] xl:w-[490px] h-[560px];
  }

  .resume-card-header {
    @apply flex flex-row max-sm:flex-col justify-between max-md:justify-center items-center max-md:items-center gap-2 min-h-[110px];
  }

  .feedback-section {
    @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
  }

  .navbar {
    @apply flex flex-row justify-between items-center bg-white mx-auto p-4 px-10 rounded-full w-full max-w-[1200px];
  }

  .score-badge {
    @apply flex flex-row justify-center items-center gap-4 px-2 py-1 rounded-[96px];
  }

  .form-div {
    @apply flex flex-col items-start gap-2 w-full;
  }

  .uplader-drag-area {
    @apply relative bg-white p-8 rounded-2xl min-h-[208px] text-center transition-all duration-700 cursor-pointer;
  }

  .uploader-selected-file {
    @apply flex justify-between items-center bg-gray-50 p-3 rounded-2xl;
  }
}

@utility bg-gradient {
  background: linear-gradient(to bottom, #f0f4ff 60%, #fa7185cc);
}

@utility text-gradient {
  @apply bg-clip-text bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5] text-transparent;
}

@utility gradient-hover {
  @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #8e98ff, #606beb);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary-gradient-hover {
  background: linear-gradient(to bottom, #717dff, #4957eb);
}

@utility inset-shadow {
  box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
  backdrop-filter: blur(10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}